*.png
*.gif
*.jpg
*.jpeg
!media/game_images/default_game_image.png
!media/avatars/root.jpg
!media/avatars/default_avatar.png
!GameManager/static/img/*
BlackJack/__pycache__/*
GameManager/__pycache__/*
__pycache__/*
blackjack.sock